
html{
    font-size: .9rem;
    font-family: Helvetica, Arial, sans-serif;
    > * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

p{
    margin: .3rem;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    section{
        padding: 1rem;
        border: 1px blue dashed;
        &.suche{
            grid-column: 1 / -1;

            > form > input{
                width: 40%;
            }
        }

        &.ergebnisse{
            grid-column: 2;
        }
    }
}

#bearbeitet-box{
    > form{
        display: grid;
        grid-template-columns: auto 6rem 6rem;
        outline: 1px solid green;

        > label{
            display: grid;
            grid-template-columns: auto 9rem 4rem;
        }
    }
}

#uebereinstimmungen-box{
    > div{
        display: grid;
        grid-template-columns: 5rem 5rem auto;
    }
}
